@using Fuzzbin.Web.Services
@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Keyboard" Class="mr-2" />
            Keyboard Shortcuts
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Class="pa-0">
            @foreach (var category in _shortcutsByCategory)
            {
                <MudText Typo="Typo.subtitle1" Class="mb-2 mt-3">@category.Key</MudText>
                <MudSimpleTable Dense="true" Hover="true">
                    <tbody>
                        @foreach (var shortcut in category.Value)
                        {
                            <tr>
                                <td style="width: 150px;">
                                    <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Primary">
                                        @shortcut.Key
                                    </MudChip>
                                </td>
                                <td>@shortcut.Description</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Inject] KeyboardShortcutService KeyboardService { get; set; } = null!;
    
    private Dictionary<string, List<KeyboardShortcutService.ShortcutInfo>> _shortcutsByCategory = new();
    
    protected override void OnInitialized()
    {
        var shortcuts = KeyboardService.GetShortcuts();
        _shortcutsByCategory = shortcuts.GroupBy(s => s.Category)
            .ToDictionary(g => g.Key, g => g.ToList());
    }
    
    private void Close()
    {
        MudDialog.Close();
    }
}