@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="min-height: 100vh; display: flex; align-items: center; justify-content: center; background: var(--mud-palette-background-grey);">
    @Body
</div>